<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sushi App</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <link rel="stylesheet" href="styles.css">
</head>

<body class="d-flex flex-column vh-100">

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Sushi App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/checkout">Checkout</a>
                <a class="nav-link" href="/kitchen">Kitchen</a>
                <a class="nav-link" href="/login">Login</a>
            </div>
        </div>
    </div>
</nav>

<div class="container mt-auto">
<div class="row justify-content-center">
        <div class="col-3">
           <a href="product/appetizers">Appetizers</a> 
        </div>
        <div class="col-3">
        <a href="product/sushi">Sushi</a>
        </div>
        <div class="col-3">
        <a href="product/dessert">Dessert</a>
        </div>    
        <div class="col-3">
        <a href="product/drinks">Drinks</a>
        </div>
</div>
</div>

<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; Sushi App 2025</span>
    </div>
</footer>


</body>
